In [1]:
#highlighting favorite destination
# connect to sql
#web

In [71]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [72]:
url = "https://www.gulliver.co.il/Content/SalePage.aspx?pageId=264&module=Flights"
r = requests.get(url)
c = r.content
soup=BeautifulSoup(c,"html.parser")
all = soup.find_all("ul")

In [73]:
url2 = 'https://www.gulliver.co.il/Content/SalePage.aspx?pageId=99&module=Flights'
r2 = requests.get(url2)
c2 = r2.content
soup2=BeautifulSoup(c2,"html.parser")
all2 = soup2.find_all("ul")

In [74]:
# mivzaim
sale = []


for i in range(14):
    m={}
    m['destination'] = soup.find_all("strong",{'style':'font-size:1em;'})[i].text.replace('\t', '')
    m['company'] = soup.find_all("span", {'class':'LastDeals_hotel'})[i].text.replace('\t', '')
    m['vacation date'] = soup.find_all("span", {'class':'LastDeals_Date'})[i].text.replace('\t', '')
    m['PriceInDollars'] = int(soup.find_all("strong", {'class':'LastDeals_price'})[i].text.replace('$',''))
    m['offer date'] = time.strftime("%d/%m/%Y")
    sale.append(m)

In [92]:
#last minute

last = []



for i in range(len(all2)):
    m={}
    m['destination'] = soup2.find_all("strong",{'style':'font-size:1em;'})[i].text.replace('\t', '').split()[0]
    m['company'] = 'Last Minute'
    m['vacation date'] = soup2.find_all("span", {'class':'LastDeals_Details'})[i].text.replace('מחיר לאדםתאריכי טיסה','') 
    m['PriceInDollars'] = int(soup2.find_all("strong", {'class':'LastDeals_price'})[i].text.replace('$','').replace('€',''))
    m['offer date'] = time.strftime("%d/%m/%Y")
    last.append(m)

In [76]:
df=pd.DataFrame(sale)
cols = df.columns.tolist()
cols = [cols[3] , cols[2] , cols[1],cols[4],cols[0]]
df = df[cols]

In [93]:
df2 = pd.DataFrame(last)
df2 = df2[cols]
df2

    offer date destination      company   vacation date  PriceInDollars
0   23/06/2018      אנטליה  Last Minute   28.06 - 24.06             132
1   23/06/2018         קוס  Last Minute   28.06 - 24.06             161
2   23/06/2018       רודוס  Last Minute   02.07 - 25.06             161
3   23/06/2018       כרתים  Last Minute   01.07 - 25.06             161
4   23/06/2018        ורנה  Last Minute   28.06 - 24.06             161
5   23/06/2018       לרנקה  Last Minute   04.07 - 25.06             164
6   23/06/2018       קטניה  Last Minute   04.07 - 27.06             151
7   23/06/2018       ורונה  Last Minute   04.07 - 27.06             179
8   23/06/2018      בוקרשט  Last Minute   28.06 - 24.06             180
9   23/06/2018       בלגרד  Last Minute   29.06 - 25.06             187
10  23/06/2018       ברלין  Last Minute   28.06 - 24.06             193
11  23/06/2018      נאפולי  Last Minute   11.07 - 04.07             199
12  23/06/2018       בורגס  Last Minute   05.07 - 24.06             239
13  23/06/2018        פראג  Last Minute   07.07 - 02.07             256
14  23/06/2018       מדריד  Last Minute   28.06 - 24.06             258
15  23/06/2018         ניס  Last Minute   05.07 - 01.07             259
16  23/06/2018        זגרב  Last Minute   03.07 - 26.06             229
17  23/06/2018     טביליסי  Last Minute   04.07 - 27.06             268
18  23/06/2018        רומא  Last Minute   28.06 - 24.06             269
19  23/06/2018      מילאנו  Last Minute   12.07 - 05.07             275
20  23/06/2018     אמסטרדם  Last Minute   04.07 - 29.06             279
21  23/06/2018       קרקוב  Last Minute   02.07 - 29.06             279
22  23/06/2018      בודפשט  Last Minute   30.06 - 25.06             284
23  23/06/2018     סלוניקי  Last Minute   29.06 - 25.06             299
24  23/06/2018     נירנברג  Last Minute   02.07 - 21.06             274
25  23/06/2018        וינה  Last Minute   15.07 - 12.07             319
26  23/06/2018        קייב  Last Minute   03.07 - 27.06             320
27  23/06/2018        באקו  Last Minute   06.07 - 02.07             343
28  23/06/2018       בטומי  Last Minute   02.07 - 29.06             374
29  23/06/2018    אדינבורו  Last Minute   04.07 - 27.06             412

In [345]:
def highlight_cols(s):
    
    if s < 100 :
        color = 'grey' 
        
    elif s < 180 :
        color = 'green'
        
    else :
        color = None
        
    return 'background-color: %s' % color

s=df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, [ 'PriceInDollars']])
s

In [96]:
merged = df2.append(df,ignore_index=True)
merged

,offer date,destination,company,vacation date,PriceInDollars
0,23/06/2018,אנטליה,Last Minute,28.06 - 24.06,132
1,23/06/2018,קוס,Last Minute,28.06 - 24.06,161
2,23/06/2018,רודוס,Last Minute,02.07 - 25.06,161
3,23/06/2018,כרתים,Last Minute,01.07 - 25.06,161
4,23/06/2018,ורנה,Last Minute,28.06 - 24.06,161
5,23/06/2018,לרנקה,Last Minute,04.07 - 25.06,164
6,23/06/2018,קטניה,Last Minute,04.07 - 27.06,151
7,23/06/2018,ורונה,Last Minute,04.07 - 27.06,179
8,23/06/2018,בוקרשט,Last Minute,28.06 - 24.06,180
9,23/06/2018,בלגרד,Last Minute,29.06 - 25.06,187
10,23/06/2018,ברלין,Last Minute,28.06 - 24.06,193
11,23/06/2018,נאפולי,Last Minute,11.07 - 04.07,199
12,23/06/2018,בורגס,Last Minute,05.07 - 24.06,239
13,23/06/2018,פראג,Last Minute,07.07 - 02.07,256
14,23/06/2018,מדריד,Last Minute,28.06 - 24.06,258
15,23/06/2018,ניס,Last Minute,05.07 - 01.07,259
16,23/06/2018,זגרב,Last Minute,03.07 - 26.06,229
17,23/06/2018,טביליסי,Last Minute,04.07 - 27.06,268
18,23/06/2018,רומא,Last Minute,28.06 - 24.06,269
19,23/06/2018,מילאנו,Last Minute,12.07 - 05.07,275
20,23/06/2018,אמסטרדם,Last Minute,04.07 - 29.06,279
21,23/06/2018,קרקוב,Last Minute,02.07 - 29.06,279
22,23/06/2018,בודפשט,Last Minute,30.06 - 25.06,284
23,23/06/2018,סלוניקי,Last Minute,29.06 - 25.06,299
24,23/06/2018,נירנברג,Last Minute,02.07 - 21.06,274
25,23/06/2018,וינה,Last Minute,15.07 - 12.07,319
26,23/06/2018,קייב,Last Minute,03.07 - 27.06,320
27,23/06/2018,באקו,Last Minute,06.07 - 02.07,343
28,23/06/2018,בטומי,Last Minute,02.07 - 29.06,374
29,23/06/2018,אדינבורו,Last Minute,04.07 - 27.06,412
30,23/06/2018,פאפוס,RYNAIR,30.9-9.10,56
31,23/06/2018,פאפוס,RYNAIR,1-11.10,62
32,23/06/2018,בורגס,RYNAIR,10-14.10,88
33,23/06/2018,ורוצלאב,RYNAIR,1-8.9,107
34,23/06/2018,אתונה,AGEAN,ליציאות בחודשים נובמבר - מרץ,111
35,23/06/2018,לרנקה,UP,ליציאות בחודש יוני,131
36,23/06/2018,ורשה,LOT,ליציאות בחודשים נובמבר - מרץ,178
37,23/06/2018,בריסל,AIR SERBIA,ליציאות בחודשים נובמבר - מרץ,199
38,23/06/2018,אמסטרדם,AGEAN,ליציאות בחודשים נובמבר - מרץ,212
39,23/06/2018,רומא,AGEAN,ליציאות בחודשים נובמבר - מרץ,232
40,23/06/2018,פריז,AGEAN,ליציאות בחודשים נובמבר - מרץ,244
41,23/06/2018,בייג'ין,TURKISH AIRLINES,ליציאות בחודשים נובמבר - מרץ,597
42,23/06/2018,מיאמי,ALITALIA,ליציאות בחודש נובמבר,689
43,23/06/2018,לאס וגאס,BRITISH AIRWYS,ליציאות בחודשים נובמבר - מרץ,941