In [1]:
#highlighting favorite destination
# connect to sql
#web

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time 
import sqlite3

In [2]:
url = "https://www.gulliver.co.il/Content/SalePage.aspx?pageId=264&module=Flights"
r = requests.get(url)
c = r.content
soup=BeautifulSoup(c,"html.parser")
all = soup.find_all("ul")

In [3]:
url2 = 'https://www.gulliver.co.il/Content/SalePage.aspx?pageId=99&module=Flights'
r2 = requests.get(url2)
c2 = r2.content
soup2=BeautifulSoup(c2,"html.parser")
all2 = soup2.find_all("ul")

In [31]:
# mivzaim
sale = []


for i in range(len(soup.find_all("strong",{'style':'font-size:1em;'}))):
    m={}
    m['destination'] = soup.find_all("strong",{'style':'font-size:1em;'})[i].text.replace('\t', '')
    m['company'] = soup.find_all("span", {'class':'LastDeals_hotel'})[i].text.replace('\t', '')
    m['vacationDate'] = soup.find_all("span", {'class':'LastDeals_Date'})[i].text.replace('\t', '')
    m['PriceInDollars'] = int(soup.find_all("strong", {'class':'LastDeals_price'})[i].text.replace('$',''))
    m['offerDate'] = time.strftime("%d/%m/%Y")
    sale.append(m)

In [32]:
#last minute

last = []



for i in range(len(all2)):
    m={}
    m['destination'] = soup2.find_all("strong",{'style':'font-size:1em;'})[i].text.replace('\t', '').split()[0]
    m['company'] = 'Last Minute'
    m['vacationDate'] = soup2.find_all("span", {'class':'LastDeals_Details'})[i].text.replace('מחיר לאדםתאריכי טיסה','') 
    m['PriceInDollars'] = int(soup2.find_all("strong", {'class':'LastDeals_price'})[i].text.replace('$','').replace('€',''))
    m['offerDate'] = time.strftime("%d/%m/%Y")
    last.append(m)

In [117]:
df=pd.DataFrame(sale)
cols = df.columns.tolist()
cols = [cols[3] , cols[2] , cols[1],cols[4],cols[0]]
df = df[cols]

In [116]:
df2 = pd.DataFrame(last)
df2 = df2[cols]

In [118]:
def highlight_cols(s):
    
    if s < 100 :
        color = 'grey' 
        
    elif s < 180 :
        color = 'green'
        
    else :
        color = None
        
    return 'background-color: %s' % color

s=df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, [ 'PriceInDollars']])

In [115]:
merged = df2.append(df,ignore_index=True)

In [102]:
# sql 


def create ():
    conn=sqlite3.connect("flights.db")
    cur=conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS flights (id INTEGER PRIMARY KEY,offerDate date,destination TEXT,company TEXT,vacationDate date,PriceInDollars INTEGER)")
    conn.commit()
    conn.close()
          
    
def gettable():
    conn = sqlite3.connect("flights.db")
    table = pd.read_sql_query("SELECT * FROM flightData", conn)
    return table
    conn.close()        
    

def drop_table():
    conn = sqlite3.connect("flights.db")
    cur = conn.cursor()
    cur.execute("DROP TABLE flightData")
    conn.commit()
    conn.close()
    
def insert(merged) :  
    conn = sqlite3.connect("flights.db")   
    df = merged
    df.to_sql("flightData", conn, if_exists='append')
    conn.commit()
    conn.close()

    
def findLastDate():
    conn=sqlite3.connect("flights.db") 
    cur = conn.cursor()
    lastDate = cur.execute("SELECT distinct max(offerDate) FROM flightData").fetchone()[0]
    conn.close()
    return lastDate

In [114]:
#drop_table()
#create()


if findLastDate()  < max(merged.offerDate) :
    insert(merged)
else :
    print ("Already in database")

Already in database

In [113]:

t = gettable()
t

,index,offerDate,destination,company,vacationDate,PriceInDollars
0,0,24/06/2018,אנטליה,Last Minute,28.06 - 24.06,132
1,1,24/06/2018,רודוס,Last Minute,02.07 - 25.06,161
2,2,24/06/2018,כרתים,Last Minute,01.07 - 25.06,161
3,3,24/06/2018,לרנקה,Last Minute,04.07 - 25.06,164
4,4,24/06/2018,קטניה,Last Minute,04.07 - 27.06,151
5,5,24/06/2018,ורנה,Last Minute,02.07 - 25.06,179
6,6,24/06/2018,ורונה,Last Minute,04.07 - 27.06,179
7,7,24/06/2018,קוס,Last Minute,29.06 - 25.06,180
8,8,24/06/2018,בלגרד,Last Minute,29.06 - 25.06,187
9,9,24/06/2018,בוקרשט,Last Minute,10.07 - 25.06,191
10,10,24/06/2018,נאפולי,Last Minute,11.07 - 04.07,199
11,11,24/06/2018,רומא,Last Minute,02.07 - 28.06,227
12,12,24/06/2018,בורגס,Last Minute,06.07 - 02.07,249
13,13,24/06/2018,פראג,Last Minute,07.07 - 02.07,256
14,14,24/06/2018,ניס,Last Minute,05.07 - 01.07,259
15,15,24/06/2018,זגרב,Last Minute,03.07 - 26.06,229
16,16,24/06/2018,טביליסי,Last Minute,04.07 - 27.06,268
17,17,24/06/2018,מילאנו,Last Minute,12.07 - 05.07,275
18,18,24/06/2018,אמסטרדם,Last Minute,04.07 - 29.06,279
19,19,24/06/2018,קרקוב,Last Minute,02.07 - 29.06,279
20,20,24/06/2018,בודפשט,Last Minute,30.06 - 25.06,284
21,21,24/06/2018,מדריד,Last Minute,01.07 - 28.06,287
22,22,24/06/2018,סלוניקי,Last Minute,29.06 - 25.06,299
23,23,24/06/2018,וינה,Last Minute,15.07 - 12.07,319
24,24,24/06/2018,נירנברג,Last Minute,02.07 - 21.06,274
25,25,24/06/2018,קייב,Last Minute,03.07 - 27.06,320
26,26,24/06/2018,באקו,Last Minute,06.07 - 02.07,343
27,27,24/06/2018,בטומי,Last Minute,02.07 - 29.06,374
28,28,24/06/2018,ברלין,Last Minute,04.07 - 30.06,324
29,29,24/06/2018,אדינבורו,Last Minute,04.07 - 27.06,412
30,30,24/06/2018,פאפוס,RYNAIR,30.9-9.10,52
31,31,24/06/2018,פאפוס,RYNAIR,1-11.10,59
32,32,24/06/2018,בורגס,RYNAIR,10-14.10,83
33,33,24/06/2018,אתונה,AGEAN,ליציאות בחודשים נובמבר - מרץ,111
34,34,24/06/2018,ורוצלאב,RYNAIR,1-8.9,119
35,35,24/06/2018,ורשה,LOT,ליציאות בחודשים נובמבר - מרץ,178
36,36,24/06/2018,בריסל,AIR SERBIA,ליציאות בחודשים נובמבר - מרץ,199
37,37,24/06/2018,אמסטרדם,AGEAN,ליציאות בחודשים נובמבר - מרץ,212
38,38,24/06/2018,רומא,AGEAN,ליציאות בחודשים נובמבר - מרץ,232
39,39,24/06/2018,פריז,AGEAN,ליציאות בחודשים נובמבר - מרץ,244
40,40,24/06/2018,בייג'ין,TURKISH AIRLINES,ליציאות בחודשים נובמבר - מרץ,597
41,41,24/06/2018,לאס וגאס,BRITISH AIRWYS,ליציאות בחודשים נובמבר - מרץ,941